
.title 
{
    width: 40%;
    margin: 10px;
    padding: 10px;
    top: -2px;
    align-content: center;
}
body
{
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
}
