
.title 
{
    width: 40%;
    margin: 10px;
    padding: 10px;
    top: -2px;
    align-content: center;
}
body
{
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
}
.container
{
	margin-top: 50px;
	text-align: center;
	height: 100%;
  width: 700px;
  color: white;
}
.thisOption:hover{
	background-color: gray;
	color: white;
	padding: 10px;
}


@media screen and (max-width:640px){
	.container{
		width: 500px;
		margin-top: 200px;
		size: 200%;
	}	
}